_controller:
    resource: "@UsolvTrackingBundle/Controller/"
    type:     annotation

_homepage:
    path:     /
    defaults: { _controller: UsolvTrackingBundle:Schedule:init }

_secured:
    resource: "@UsolvTrackingBundle/Controller/SecuredController.php"
    type:     annotation

_timerecord:
    path:     /timerecord
    defaults: { _controller: UsolvTrackingBundle:TimeRecord:init }

_test_index:
    path:     /test
    defaults: { _controller: UsolvTrackingBundle:Test:index }
    
_test_ajax:
    path:     /testajax
    defaults: { _controller: UsolvTrackingBundle:Test:ajax }
    requirements:
        _method:  POST

_test_jqgrid:
    path:     /testjqgrid
    defaults: { _controller: UsolvTrackingBundle:Test:jqGrid }
    requirements:
        _method:  GET